//Essential rules for layout fits properly
html {
	@include box-sizing(border-box);
	font-size: 62.5%;
}

*,
*:before,
*:after {
	@include box-sizing(inherit);
}

body {
	margin: 0;
	font-family: $font-family-main;
}

a,
button,
h4,
input,
p {
	@include font-size(16);
}

label {
	display: inline-block;
	@include font-size(12);
	margin: 0 0 20px;
}

span {
	@include font-size(14);
}


//Remove default decoration styles undesired
a,
a:hover {
	@include font-size(16);
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

//Create images responsive only work with <img> elements
.image-responsive {
	width: 100%;
	background-size: 100% auto;
}

//Add bottom border for decoration of items or titles
.item-decorated {
	border-bottom: 1px solid $color-secundary;
}
