//colors variables
$color-main: #00A0AA;
$color-main-light: #4BBCC4;
$color-call-to-action: #2AA9E0;
$color-secundary: #5A5A5A;
$color-background: #D4D4D4;
$color-related-item: #FD7A06;
$color-neutral: #FFFFFF;
$color-neutral-secundary: #000000;

//layout variables
$grid-width: 1000px;

//fonts variables
$font-family-main: "Open Sans", "Arial", sans-serif;
